#myHeader{
    text-align: center;
    font-family: 'Sigmar One', cursive;
    font-size: 2em;
    color: rgb(255, 254, 220);
}
.jumbotron{
    /* background-image: url("/projects/apiProject2/assets/images/jumboBackground.gif"); */
    background-image: linear-gradient(25deg, blue , red);
}
.row{
    margin-bottom: 4em;
}